.App {
  text-align: center;
}

.navbar{
  width: 100%;
  background-color: aqua;
  padding: 20px;

}

.navbar a{
  margin: 10px 40px;
  text-decoration: none;
  color: rgb(5, 109, 112);
  font-size: 1.2rem;
  font-weight: 600;
}

.container{
  color: rgb(22, 184, 184);
  width: 100%;
}

.invoice__container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.invoices{
  display: flex;
  flex-direction: column;
  gap: 40px;

}

.invoices a{
  color: rgb(22, 184, 184);
  text-decoration: none;
}

.invoice{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px rgb(206, 207, 207);
}

.pageNotFound{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  width: 100%;
}

.details{
  text-align: left;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.details span{
  display: inline-block;
  padding: 20px 40px;
}